 @media (max-width: 768px) {
    .reviews-container {
        grid-template-columns: 1fr;
    }
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: rgb(206, 70, 70);
    font-size: 2rem;

}
.nav-link{
    color: #222222 !important;
}

footer{
    height: 5rem;
    background-color: white;
}

.f-info-link a{
    text-decoration: none;
    color: #222222 !important;
}
.f-info-link a:hover{
    color: rgb(206, 70, 70) !important;
    text-decoration: underline;
}
.f-info-social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding-top:  1.5rem;
}
.f-info-link{
  width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    display: flex;
    height: 8rem    
    ;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;

}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card.text p{
       font-weight: 400;
}
.listing-link{
   text-decoration: none; 
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:rgb(42, 41, 41) ;
}

.add-btn {
    background-color: rgb(206, 70, 70) !important;
    border: none !important;
    
}
.show-image{
    height: 40vh;
}

/* Reviews */

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}

.review-box {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 150px;
}

.review-rating {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.review-comment {
    font-size: 1rem;
    word-wrap: break-word;
}
@media (max-width: 768px) {
    .reviews-container {
        grid-template-columns: 1fr;
    }
}